Repository eggjs/egg, pull requests merged in 2018-09, with the labels that each got.

#3003 fix(httpclient): can't use runInBackground in agent
  lib/core/dnscache_httpclient.js
  test/lib/core/dnscache_httpclient.test.js
Labels: type: bug

#3014 refactor: separate dumping config object and config file
  lib/egg.js
  test/lib/egg.test.js
Labels: core

#3031 Refactor app config did load
  docs/assets/lifecycle_cn.puml
  docs/assets/lifecycle_en.puml
  docs/source/en/advanced/loader.md
  docs/source/zh-cn/advanced/loader.md
  lib/loader/agent_worker_loader.js
  lib/loader/app_worker_loader.js
  package.json
  test/lib/egg.test.js
Labels: deps: egg-core, type: bug

#3034 test: avoid DNS pollution on local env
  package.json
  test/lib/core/dnscache_httpclient.test.js
Labels: type: test
