Repository eggjs/egg, pull requests merged in 2018-11, with the labels that each got.

#3146 fix: allow request timeout bigger than agent timeout
  .gitignore
  LICENSE
  config/config.default.js
  docs/source/en/core/httpclient.md
  docs/source/zh-cn/core/httpclient.md
  index.d.ts
  lib/core/httpclient.js
  package.json
  test/fixtures/apps/context_httpclient_timeout/config/config.default.js
  test/fixtures/apps/context_httpclient_timeout/package.json
  test/lib/core/context_httpclient_timeout.test.js
  test/lib/core/httpclient.test.js
Labels: core: httpclient, type: bug

#3133 feat: support server timeout
  config/config.default.js
  lib/application.js
  test/fixtures/apps/app-server-timeout/app/router.js
  test/fixtures/apps/app-server-timeout/config/config.default.js
  test/fixtures/apps/app-server-timeout/package.json
  test/lib/cluster/app_worker.test.js
Labels: type: feature

#3190 fix: triggerServerDidReady should be triggered only once
  lib/egg.js
  test/lib/egg.test.js
Labels: type: bug

#3193 feat: add create anonymous context to agent
  index.d.ts
  lib/application.js
  lib/egg.js
  test/lib/egg.test.js
Labels: core: application, core: context

#3199 backport: add create anonymous context to agent
  index.d.ts
  lib/application.js
  lib/egg.js
  test/lib/egg.test.js
Labels: core: application, core: context

#3206 Release 1.17.0
  History.md
  package.json
Labels: type: release
