Repository eggjs/egg, pull requests merged in 2024-07, with the labels that each got.

#5334 feat: allow to create httpClient from app
  lib/core/httpclient_next.js
  lib/egg.js
Labels: core: httpclient

#5336 fix: xframe value type
  index.d.ts
Labels: type: bug

#5339 feat: impl httpclient.safeCurl
  lib/core/httpclient.js
  lib/core/httpclient_next.js
  test/lib/core/httpclient.test.js
Labels: core: httpclient, type: feature
